*.7z
*.cache
*.log
*.orig
*.sublime-workspace
*.suo
*.user
*.zip
*_NCrunch*
*_ReSharper*
.paket/paket.exe
.vs
bin
logs
node_modules
obj
out

# Do not include actual packages as they will be extracted either on dev or on build system.
packages/

# Do not include these specfic configuration files as they will be generated
src/*/[W|w]eb.config
src/*/[N|n]log.config
src/*/[C|c]onnectionstrings.config

